USE [master]
GO
/****** Object:  Database [Employees]    Script Date: 04-Mar-22 10:11:12 AM ******/
CREATE DATABASE [Employees]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Employees', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Employees.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Employees_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Employees_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Employees].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Employees]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04-Mar-22 10:11:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 04-Mar-22 10:11:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[DOB] [datetime2](7) NOT NULL,
	[DOJ] [datetime2](7) NOT NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220303040200_init', N'3.1.22')
GO
INSERT [dbo].[Employees] ([Id], [Name], [Designation], [DOB], [DOJ], [Address]) VALUES (N'f06f696a-5716-4b75-d2b5-08d9fcd3ca9d', N'Sam', N'Manager', CAST(N'1996-04-13T00:00:00.0000000' AS DateTime2), CAST(N'2019-05-12T00:00:00.0000000' AS DateTime2), N'karnataka')
INSERT [dbo].[Employees] ([Id], [Name], [Designation], [DOB], [DOJ], [Address]) VALUES (N'a3883c08-a8c2-4f62-c6f3-08d9fcd9f13c', N'MarshMell0', N'Engineer', CAST(N'2000-06-13T00:00:00.0000000' AS DateTime2), CAST(N'2020-05-12T00:00:00.0000000' AS DateTime2), N'karnataka')
INSERT [dbo].[Employees] ([Id], [Name], [Designation], [DOB], [DOJ], [Address]) VALUES (N'4b75bcdd-f891-4102-c6f4-08d9fcd9f13c', N'Marsh', N'Engineer', CAST(N'2000-04-13T00:00:00.0000000' AS DateTime2), CAST(N'2020-05-12T00:00:00.0000000' AS DateTime2), N'karnataka')
GO
USE [master]
GO
